@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand:wght@300;400&family=Roboto:wght@300&family=Varela+Round&family=Zen+Tokyo+Zoo&display=swap');
@import url('https://cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@4/dark.css');

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.font-zen {
  font-family: 'zen tokyo zoo', cursive;
}

.font-quicksand {
  font-family: 'Quicksand', sans-serif;
}
